<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/03c8d5d9a1.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="max-w-6xl mx-auto">
        <img class="object-cover rounded-xl my-5" src="https://images.tokopedia.net/img/cache/1208/NsjrJu/2023/1/11/b007cdfa-c85c-4049-a604-a016988e5218.jpg.webp?ect=4g" alt="">
        <% if (user) { %>
            <div  class="border rounded-lg grid grid-cols-3">
                <h1 class="p-5  hover:bg-slate-100">
                    Hallo, <b><%= user.name %></b> <br>
                    Enjoy your shopping!
                </h1>
                <div class="border-x p-5 rounded-lg hover:bg-slate-100">
                    <p>Your balances : </p>
                    <h1 class="text-2xl font-semibold">
                        <%= balance.formatBalance() %>
                    </h1>
                </div>
                <h1 class="cursor-pointer p-5 flex items-center justify-center gap-2 font-semibold hover:bg-slate-100">
                    <i class="fas fa-plus text-2xl"></i>
                    Add Your Balances
                </h1>
            </div>
        <% } %>

        <div class="flex justify-between items-center my-5" >
            <form class="space-x-3 text-lg" action="/" method="get">
                <button value="all" name="tag">All</button>
                <% tags.forEach(({ id, name }) => { %>
                    <button value="<%= id %>" name="tag"><%= name %></button>
                <% }) %>
            </form>
            <div class="flex items-center gap-5" >
                <form class="flex items-center gap-2" method="get" action="/">
                    sort by price:
                    <% if (query.sort == 'DESC') { %>
                        <button class="text-2xl" name="sort" value="ASC"><i class="fas fa-angle-up"></i></button>
                    <% } else { %>
                        <button class="text-2xl" name="sort" value="DESC"><i class="fas fa-angle-down"></i></button>
                    <% } %>
                </form>
                <form action="/" method="get" class="flex">
                    <input class="p-2 border outline-none" type="search" value="<%= query.search %> " name="search" placeholder="Search Product">
                    <button class="border border-blue-300 px-3 text-blue-300">Search</button>
                </form>
            </div>
        </div>

        <div class="grid grid-cols-5 gap-5">
            
            <% items.forEach(item => { %>             
                <%- include('partials/product', { item }) %>
            <% }) %>
        </div>
    </div>
</body>
</html>