<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List item for buyer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <% if (userBuyer) { %>
        <% if (userBuyer.role === "buyer") { %>
            <h1 class="ml-10 mb-8 mt-8 font-bold text-2xl" >List Item</h1>
            <h3 class="ml-10 font-bold">Happy Shopping Pak <%= userBuyer.name %></h3>
            <p class="ml-10 font-bold"><strong>Your Balance: <%= userBuyer.Balance.formatBalance() %> </strong></p><br>
                <%- include('./partials/error.ejs') %>
            <a href="/balances/addBalance/<%= UserId %>" class="bg-blue-500 hover:bg-blue-700 text-sm text-white py-1 px-2 rounded-full m-5 ml-8">Add Balance</a> 
            <a href="/items/buyer/<%= UserId %>/purchasedList" class="bg-blue-500 hover:bg-blue-700 text-sm text-white py-1 px-2 rounded-full m-5">Your purchased list</a>
            <br><br>

            <form action="/items/buyer/<%= UserId %> " method="get" class="flex items-center m-5">
                <label for="search" class="sr-only">Search</label>
                <div class="relative w-64">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" name="byItemName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="search by item name...">
                </div>
                <div class="relative w-40 ml-2">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" name="byShopName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="or by shop name...">
                </div>
        
                <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-500 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                    <span class="sr-only">Search</span>
                </button>
            </form>

            <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5 w-3/4">
                <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                    <thead class="bg-gray-200">
                        <tr>
                        <th scope="col" class="px-6 py-4 font-large text-gray-900">Item Name</th>
                        <th scope="col" class="px-6 py-4 font-large text-gray-900">Price</th>
                        <th scope="col" class="px-6 py-4 font-large text-gray-900">Stock</th>
                        <th scope="col" class="px-6 py-4 font-large text-gray-900">Status</th>
                        <th scope="col" class="px-6 py-4 font-large text-gray-900">Action</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                        <% itemForBuyer.forEach((x) => { %>
                            <tr class="hover:bg-gray-50">
                                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                                    <div class="relative h-20 w-20">
                                        <img
                                            class="h-full w-full rounded-full object-cover object-center"
                                            src="<%= x.imageUrl %> "
                                            alt=""
                                        />
                                        <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
                                    </div>
                                    <div class="text-sm">
                                        <div class="font-extrabold text-gray-700"><strong><%= x.name %></strong></div>
                                        <div class="text-gray-400">Pak <%= x.User.name %>'s Shop </div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    <span class="inline-flex items-center gap-1 rounded-full bg-slate-200 px-2 py-1 text-s font-semibold text-black">
                                        <%= x.formatPrice() %> 
                                    </span>
                                </td>
                                <td class="px-6 py-4">
                                    <span class="inline-flex items-center gap-1 rounded-full bg-slate-200 px-2 py-1 text-s font-semibold text-black">
                                        <%= x.stock %> 
                                    </span>
                                </td>
                                <% if (x.isReady) { %>
                                    <td class="px-6 py-4">
                                        <span class="inline-flex items-center gap-1 rounded-full bg-green-100 px-2 py-1 text-s font-semibold text-green-500">
                                            Ready Stock
                                        </span>
                                    </td>
                                <% } else if(!x.isReady) { %>
                                    <td class="px-6 py-4">
                                        <span class="inline-flex items-center gap-1 rounded-full bg-red-100 px-2 py-1 text-s font-semibold text-red-500">
                                            Out of Stock
                                        </span>
                                    </td>
                                <% } %>
                                <td class="px-6 py-4">
                                    <div class="flex gap-2">
                                        <span class="inline-flex items-center gap-1 rounded-full bg-blue-500 px-2 py-1 text-s font-semibold text-white">
                                            <a href="/items/buyer/<%= UserId %>/buy/<%= x.id %>">Buy</a>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        <% } else { %>
            <h2>You're not buyer!</h2>
        <% } %>
    <% } else { %>
        <h2>You're not buyer!</h2>
    <% } %>
</body>
</html>