<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List item for buyer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <% if (userBuyer) { %>
        <% if (userBuyer.role === "buyer") { %>
            <h2>List Item</h2>
            <h3>Happy Shopping Pak <%= userBuyer.name %></h3>
            <p><strong>Your Saldo: <%= userBuyer.Saldo.formatSaldo() %>  </strong></p>
            <%- include('./partials/error.ejs') %> 
            <button><a href="/saldos/addSaldo/<%= UserId %>">Add Saldo</a></button>
            <button><a href="/items/buyer/<%= UserId %>/purchasedList">Your purchased list</a></button><br><br>
            <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
                <thead class="bg-gray-100">
                    <tr>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">No</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Item Name</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Price</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Stock</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
                    <th scope="col" class="px-6 py-4 font-medium text-gray-900">Action</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                    <% itemForBuyer.forEach((x, i) => { %>
                        <td class="px-6 py-4">
                            <span class="inline-flex items-center gap-1 rounded-full bg-slate-200 px-2 py-1 text-xs font-semibold text-black-100">
                                <%= i++ %> 
                            </span>
                        </td>
                        <tr class="hover:bg-gray-50">
                            <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                                <div class="relative h-20 w-20">
                                    <img
                                        class="h-full w-full rounded-full object-cover object-center"
                                        src="<%= x.imageUrl %> "
                                        alt=""
                                    />
                                    <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
                                </div>
                                <div class="text-sm">
                                    <div class="font-medium text-gray-700"><strong><%= x.name %></strong></div>
                                    <div class="text-gray-400">Pak <%= x.User.name %>'s Shop </div>
                                </div>
                            </th>
                            <td class="px-6 py-4">
                                <span class="inline-flex items-center gap-1 rounded-full bg-slate-200 px-2 py-1 text-xs font-semibold text-black-100">
                                    <%= x.formatPrice() %> 
                                </span>
                            </td>
                            <td class="px-6 py-4">
                                <span class="inline-flex items-center gap-1 rounded-full bg-slate-200 px-2 py-1 text-xs font-semibold text-black-100">
                                    <%= x.stock %> 
                                </span>
                            </td>
                            <% if (el.isReady) { %>
                                <td class="px-6 py-4">
                                    <span class="inline-flex items-center gap-1 rounded-full bg-slate-200 px-2 py-1 text-xs font-semibold text-black-100">
                                        Ready Stock
                                    </span>
                                </td>
                            <% } else { %>
                                <td class="px-6 py-4">
                                    <span class="inline-flex items-center gap-1 rounded-full bg-slate-200 px-2 py-1 text-xs font-semibold text-black-100">
                                        Out of Stock
                                    </span>
                                </td>
                            <% } %>
                            <td class="px-6 py-4">
                                <div class="flex gap-2">
                                    <span class="inline-flex items-center gap-1 rounded-full bg-blue-100 px-2 py-1 text-xs font-semibold text-blue-600">
                                        <a href="/items/buyer/<%= UserId %>/buy/<%= el.id %>">Buy</a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <br><br>
        <% } else { %>
            <h2>You're not buyer!</h2>
        <% } %>
    <% } else { %>
        <h2>You're not buyer!</h2>
    <% } %>
</body>
</html>