<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/03c8d5d9a1.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('../partials/navbar', error) %>
  
  <div class="max-w-4xl my-14  mx-auto">
    <div class="text-2xl font-bold">
      Carts
    </div>
    <%- include('../partials/error', error) %>
      <hr class="my-5">
      <div class="space-y-5">
        <% carts.forEach(cart => { %>
          <div class="flex gap-3 shadow h-32 ">
            <img src="<%= cart.Item.imageUrl %>" alt="">
            <div class=" w-3/4">
              <div class="p-2">
                <p class="text-2xl"><%= cart.Item?.name %> </p>
                <p><%= cart.qty + ' X ' + cart.Item?.formatPrice %> </p>
              </div>
              <div class="p-2 text-blue-500">
                <a class="text-red-500" href="/cart/<%= cart.id %>/delete">
                  Delete
                </a>
                |
                <a href="/carts/<%= cart.id %>/checkout">Checkout</a>
              </div>
            </div>
            <h1 class="flex flex-col justify-center items-start  font-medium  text-2xl">
              <p class="text-md text-base font-medium text-gray">
                Subtotal:
              </p>
               <%= cart.formatPrice() %> 
            </h1>
          </div>
          <% }) %>
      </div>
  </div>
</body>
</html>